<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>queryIndex</key>
	<string>queryIndex.action</string>
	<key>queryMoreRecommendGoods</key>
	<string>queryMoreRecommendGoods.action</string>
	<key>queryMoreHotGoods</key>
	<string>queryMoreHotGoods.action</string>
	<key>getHeadLineThemes</key>
	<string>getHeadLineThemes.action</string>
	<key>getCheapThemes</key>
	<string>getCheapThemes.action</string>
	<key>getProductsByThemeId</key>
	<string>getProductsByThemeId.action</string>
	<key>getCategoryList</key>
	<string>getCategoryList.action</string>
	<key>getSecondCategoryList</key>
	<string>getSecondCategoryList.action</string>
	<key>getCheapProductsByCatId</key>
	<string>getCheapProductsByCatId.action</string>
	<key>getProductsBySecondCatId</key>
	<string>getProductsBySecondCatId.action</string>
	<key>getProductDetail</key>
	<string>getProductDetail.action</string>
	<key>getProductIdByCombine</key>
	<string>getProductIdByCombine.action</string>
	<key>getProductsByPrice</key>
	<string>getProductsByPrice.action</string>
	<key>getProductsBySales</key>
	<string>getProductsBySales.action</string>
	<key>getProductsByTime</key>
	<string>getProductsByTime.action</string>
	<key>getShowList</key>
	<string>getShowList.action</string>
	<key>getShowDetail</key>
	<string>getShowDetail.action</string>
	<key>addShow</key>
	<string>addShow.action</string>
	<key>getShowReviewList</key>
	<string>getShowReviewList.action</string>
	<key>addShowReview</key>
	<string>addShowReview.action</string>
	<key>getReviewList</key>
	<string>getReviewList.action</string>
	<key>addReview</key>
	<string>addReview.action</string>
	<key>saveCart</key>
	<string>saveCart.action</string>
	<key>queryCart</key>
	<string>queryCart.action</string>
	<key>updateQuantity</key>
	<string>updateQuantity.action</string>
	<key>deleteCart</key>
	<string>deleteCart.action</string>
	<key>submitOrder</key>
	<string>submitOrder.action</string>
	<key>queryOrderList</key>
	<string>queryOrderList.action</string>
	<key>queryOrderDetail</key>
	<string>queryOrderDetail.action</string>
	<key>getNewProductDetail</key>
	<string>getNewProductDetail.action</string>
	<key>queryAddressList</key>
	<string>queryAddressList.action</string>
	<key>saveAddress</key>
	<string>saveAddress.action</string>
	<key>updateAddress</key>
	<string>updateAddress.action</string>
	<key>deleteAddress</key>
	<string>deleteAddress.action</string>
	<key>getHotWords</key>
	<string>getHotWords.action</string>
	<key>getSearchResult</key>
	<string>getSearchResult.action</string>
	<key>userLogin</key>
	<string>userLogin.action</string>
	<key>userRegist</key>
	<string>userRegist.action</string>
	<key>getUser</key>
	<string>getUserInfo.action</string>
	<key>updateUserInfo</key>
	<string>updateUserInfo.action</string>
	<key>saveFeedBack</key>
	<string>saveFeedBack.action</string>
	<key>checkVersion</key>
	<string>checkVersion.action</string>
	<key>getMyOrderList</key>
	<string>getMyOrderList.action</string>
	<key>getTooken</key>
	<string>getTooken.action</string>
	<key>getNewProductDetailByCart</key>
	<string>getNewProductDetailByCart.action</string>
	<key>getCheapCollection</key>
	<string>getCheapCollection.action</string>
	<key>getHotCollection</key>
	<string>getHotCollection.action</string>
	<key>getCategoryCheapTheme</key>
	<string>getCategoryCheaptheme.action</string>
	<key>getProductByChepThemeId</key>
	<string>getProductByChepThemeId.action</string>
	<key>insertToken</key>
	<string>insertToken.action</string>
	<key>updateOrderStateByHarvest</key>
	<string>updateOrderStateByHarvest.action</string>
</dict>
</plist>
