<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>queryIndex</key>
	<string>QueryIndexRespBody</string>
	<key>queryMoreRecommendGoods</key>
	<string>QueryMoreRecommendGoodsRespBody</string>
	<key>queryMoreHotGoods</key>
	<string>QueryMoreHotGoodsRespBody</string>
	<key>getHeadLineThemes</key>
	<string>GetHeadLineThemesRespBody</string>
	<key>getCheapThemes</key>
	<string>GetCheapThemesRespBody</string>
	<key>getProductsByThemeId</key>
	<string>GetProductsByThemeIdRespBody</string>
	<key>getCategoryList</key>
	<string>GetCategoryListRespBody</string>
	<key>getSecondCategoryList</key>
	<string>GetSecondCategoryListRespBody</string>
	<key>getCheapProductsByCatId</key>
	<string>GetCheapProductsByCatIdRespBody</string>
	<key>getProductsBySecondCatId</key>
	<string>GetProductsBySecondCatIdRespBody</string>
	<key>getProductDetail</key>
	<string>GetProductDetailRespBody</string>
	<key>getProductIdByCombine</key>
	<string>GetProductIdByCombineRespBody</string>
	<key>getProductsByPrice</key>
	<string>GetProductsByPriceRespBody</string>
	<key>getProductsBySales</key>
	<string>GetProductsBySalesRespBody</string>
	<key>getProductsByTime</key>
	<string>GetProductsByTimeRespBody</string>
	<key>getShowList</key>
	<string>GetShowListRespBody</string>
	<key>getShowDetail</key>
	<string>GetShowDetailRespBody</string>
	<key>addShow</key>
	<string>AddShowRespBody</string>
	<key>getShowReviewList</key>
	<string>GetShowReviewListRespBody</string>
	<key>addShowReview</key>
	<string>AddShowReviewRespBody</string>
	<key>getReviewList</key>
	<string>GetReviewListRespBody</string>
	<key>addReview</key>
	<string>AddReviewRespBody</string>
	<key>saveCart</key>
	<string>SaveCartRespBody</string>
	<key>queryCart</key>
	<string>QueryCartRespBody</string>
	<key>updateQuantity</key>
	<string>UpdateQuantityRespBody</string>
	<key>deleteCart</key>
	<string>DeleteCartRespBody</string>
	<key>submitOrder</key>
	<string>AddOrderRespBody</string>
	<key>queryOrderList</key>
	<string>GetOrderListByTypeRespBody</string>
	<key>queryOrderDetail</key>
	<string>GetOrderDetailRespBody</string>
	<key>getNewProductDetail</key>
	<string>GetNewProductDetailRespBody</string>
	<key>queryAddressList</key>
	<string>GetAddressListRespBody</string>
	<key>updateAddress</key>
	<string>UpdateAddressRespBody</string>
	<key>saveAddress</key>
	<string>AddAddressRespBody</string>
	<key>deleteAddress</key>
	<string>DeleteAddressRespBody</string>
	<key>getHotWords</key>
	<string>GetHotWordsRespBody</string>
	<key>getSearchResult</key>
	<string>GetSearchResultRespBody</string>
	<key>userLogin</key>
	<string>UserLoginRespBody</string>
	<key>userRegist</key>
	<string>UserRegistRespBody</string>
	<key>getUser</key>
	<string>GetUserRespBody</string>
	<key>updateUserInfo</key>
	<string>UpdateInfoRespBody</string>
	<key>saveFeedBack</key>
	<string>FeedBackRespBody</string>
	<key>checkVersion</key>
	<string>CheckVersionRespBody</string>
	<key>getMyOrderList</key>
	<string>GetMyOrderListRespBody</string>
	<key>getTooken</key>
	<string>GetTookenRespBody</string>
	<key>getNewProductDetailByCart</key>
	<string>GetNewProductDetailByCartRespBody</string>
	<key>getCheapCollection</key>
	<string>GetCheapCollectionRespBody</string>
	<key>getHotCollection</key>
	<string>GetHotCollectionRespBody</string>
	<key>getCategoryCheapTheme</key>
	<string>GetCategoryCheapThemeRespBody</string>
	<key>getProductByChepThemeId</key>
	<string>GetProductByChepThemeIdRespBody</string>
	<key>insertToken</key>
	<string>InsertTokenRespBody</string>
	<key>updateOrderStateByHarvest</key>
	<string>UpdateOrderStateByHarvestRespBody</string>
</dict>
</plist>
